<a href="https://colab.research.google.com/github/smridhii11/assignment/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
#***L is the list defined as L=[11,12,13,14].
---
#**1.1 WAP to add 50 and 60 to L.

In [3]:
L = [11, 12, 13, 14]

L.append(50)
L.append(60)
print (L)

[11, 12, 13, 14, 50, 60]

#**1.2 WAP to remove 11 and 13 from L.

In [4]:
L = [11, 12, 13, 14]
L.remove(11)
L.remove(13)
print (L)

[12, 14]

#**1.3 WAP to sort L in assending order.

In [6]:
L = [11, 13,14,12]
L.sort()
print (L)

[11, 12, 13, 14]

#** 1.4 WAP to sort L in decending order

In [7]:
L = [11, 13,14,12]

L.sort(reverse=True)
print (L)

[14, 13, 12, 11]

#**1.5 WAP to search for 13 in L.

In [8]:
L = [11, 13,14,12]

found = 13 in L
print (found)

True

#** 1.6 WAP to count the no. of elements in L.

In [9]:
L = [11, 13,14,12]
count = len(L)
print(count)

4

#**1.7 WAP to sum all the elements in L.

In [10]:
L = [11, 13,14,12]
total_sum = sum(L)
print(total_sum)

50

#**1.8 WAP to sum all odd no. in L.

In [11]:
L = [11, 13,14,12]
odd_numbers = []
for x in L:
    if x % 2 != 0:
        odd_numbers.append(x)# extract odd no. from list
odd_sum = sum(odd_numbers) # sum od odd no.
print(odd_sum)

24

#**1.9 WAP to sum of all even no. in L.

In [12]:
L = [11, 13,14,12]
even_numbers = []
for x in L:
    if x % 2 == 0:
        even_numbers.append(x)# extract even no. from list
even_sum = sum(even_numbers) # sum of even no.
print(even_sum)

26

#**1.10 WAP to sum of all prime no. in L.

In [13]:
L = [11, 13,14,12]
prime_numbers = []
for x in L:
    if x % 2 != 0:
        prime_numbers.append(x)# extract prime no. from list
prime_sum = sum(prime_numbers) # sum of prime no.
print(prime_sum)

24

#**1.11 WAP to clear all the elements in L.

In [1]:
L = [11, 13,14,12]
L.clear()

#** 1.12 WAP to delete L.

In [2]:
del L